/* ===== MAIN CONTENT ===== */
.tutor-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tutor-box {
  width: 1100px;
  background: #fff;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

.tutor-title {
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: bold;
}

/* Bộ lọc */
.filter-box {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Bảng */
.tutor-table-wrapper {
  width: 100%;
}

.tutor-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* FIX ĐỘ RỘNG CỘT */
}

/* Căn trái toàn bộ text */
.tutor-table th,
.tutor-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Màu header */
.tutor-table th {
  background: #e8f0fe;
}

/* Cột fixed width */
.col-name { width: 28%; }
.col-major { width: 25%; }
.col-role { width: 15%; }
.col-rating { width: 12%; }
.col-detail { width: 8%; }

.detail-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


/* POPUP */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box {
  width: 380px;
  background: white;
  padding: 20px;
  border-radius: 16px;
  animation: fadeIn 0.2s ease-in-out;
}

.close-btn {
  margin-top: 15px;
  padding: 8px 15px;
  background: #0077ff;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.pagination {
  margin-top: 15px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
  cursor: pointer;
}

.pagination button.active-page {
  background: #0077ff;
  color: white;
  border-color: #0077ff;
}

.pagination button:hover {
  background: #0077ff;
  color: white;
  border-color: #0077ff;
  transform: scale(1.05);
  transition: 0.2s ease;
}

.register-btn {
  margin-top: 15px;
  margin-right: 10px;
  padding: 8px 15px;
  background: #40b663;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.register-btn:disabled {
  background: #ccc;
  color: #666;
  cursor: not-allowed;
}

.subject-dropdown {
  height: 43px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 14px;
  color: #555;
  background: white;
  appearance: none;       /* ẩn mũi tên mặc định */
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
