.home-main {
  padding-top: 100px; /* cách header */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* full chiều cao còn lại */
}

.home-buttons {
  display: flex;
  gap: 30px;
}

.home-buttons button {
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background: #3399ff;
  font-weight: 500;
  transition: 0.2s ease;
}

.home-buttons button:hover {
  background: #2673cc;
}

.header-home {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}